:root {
    --background_colo:#fefefe;
    --text_color:#4e4e4e;
    --section_bg_color:#fefefe;
}

* {
    background-color: var(--background_color);
    color:var(--text_color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* header setting */
.nav{
    background-color: white;
    font-size: 24px;
    padding-top: 15px;
    text-align: center;
    }

.nav li {
    display: inline;
    text-align: center;
}

.nav a {
    display: inline-block;
    padding: 10px;
}


/* container image setting */
#container {
    position: relative;
    text-align: center;
}

.my_photo {
    width: 100%;
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    opacity: 0.7;
}

/* Main setting */
section{
    display:inline-block
}


#contact{
    display: inline-block;
    width: 33%;
    
}

.phonecall,
.email,
.linkedin {
    display: inline;
    height: 48px;
    width: 48px;
}