:root {
    --background_colo:#fefefe;
    --text_color:#4e4e4e;
    --card_bg_color:#bada55;
    --box-shadow: #ccc; 
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--background_color);
    color:var(--text_color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* header setting */
.nav{
    background-color: white;
    font-size: 24px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 50px;
    }

.nav li {
    display: inline;
    text-align: center;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    padding: 10px;
}

.nav a:hover{
    transform: scale(1.2);
}

/* container image setting */

#container {
    position: relative;
    text-align: center;
}
#container h2{
    margin-top: 50px;
}
.my_photo {
    width: 100%;
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    opacity: 0.7;
}

/* info setting */
section{
    display:inline-block
}

#about {
    width: 800px;
    border-style:hidden;
    margin: 50px 15px;
    
}

#about h2 {
    margin-bottom: 30px;
}

#about p {
    line-height: 200%;
}


/* my work setting */

#mywork {
    margin-top: 50px;
}

.card {
    flex-direction: column;
    border-style: solid;
    width: 25%;
    margin: 30px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px var(--box-shadow);
    background-color: var(--background_colo);
    overflow:hidden
}

.card:hover {
    transform: scale(1.2);
    background-color: var(--card_bg_color);
    cursor: pointer;
}

.mqimage {
    width: 200px;
    height: 120px;
    margin-top: 10px;
}

.resimage {
    width: 200px;
    height: 110px;
    margin-top: 20px;
}

.boximage {
    margin-top: 30px;
    width: 200px;
    height: 120px;
}

.typimage {
    margin-top: 30px;
    width: 201px;
    height: 120px;
}

.ps-c-image {
    margin-top: 10px;
    width: 200px;
    height: 140px;
}


@media screen and (min-width: 768px) {
    .card {
        float: left;
    }
}


/* contact setting */
#contact{
    display: inline-block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.phonecall,
.email,
.linkedin,
.youtube {
    display: inline;
    height: 48px;
    width: 48px;
    margin: 50px 15px;
    
}

.phonecall:hover ,
.email:hover,
.linkedin:hover,
.youtube:hover {
    transform: scale(1.2);
    cursor: pointer;
}

span[data-number] {
    position: relative;
    color: black;
    cursor: pointer;
  }

span[data-number]:hover::before,
span[data-number]:focus::before {
    content: attr(data-number);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px solid #aaaaaa;
    background-color:var(--card_bg_color);
    padding: 12px;
    font-size: 18px;
    z-index: 1;
    color: white;
}

/* footer setting */

footer {
    font-size: large;
    margin-top: 50px;
}

footer p {
    padding: 150px;
}